# files and directories created by pub, Dart Editor, and dart2js
packages/
*.project
*.buildlog
pubspec.lock

# files and directories dropped by other development environments
.project      // Eclipse
*.iml         // IntelliJ
*.ipr         // IntelliJ
*.iws         // IntelliJ
.idea/        // IntelliJ
.DS_Store     // Mac